@(title: String, addImp: Html = Html(""), addJs: Html = Html(""), addCss: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        @addCss
        <script src="@routes.Assets.at("libs/polymer/webcomponentsjs/webcomponents.js")"></script>
        <link rel="import" href="@routes.Assets.at("libs/polymer/polymer/polymer.html")">
        <link rel="import" href="@routes.Assets.at("libs/polymer/font-roboto/roboto.html")">
        @addImp
    </head>
    <body fullbleed unresolved>
        @content
    </body>
    @addJs
</html>
